[submodule "emacs-egrep"]
path = emacs-egrep
url = git://g0dil.de/emacs-egrep.git

[submodule "magit"]
path = magit
url = git://github.com/magit/magit.git

[submodule "emacsstuff"]
path = emacsstuff
url = git://g0dil.de/emacsstuff.git
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
[submodule "git-wip"]
	path = git-wip
	url = https://github.com/bartman/git-wip.git
[submodule "emacs-window-toggle"]
	path = emacs-window-toggle
	url = https://gist.github.com/3383607.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
