[submodule "emacs-egrep"]
path = emacs-egrep
url = git://g0dil.de/emacs-egrep.git

[submodule "magit"]
path = magit
url = git://github.com/magit/magit.git

[submodule "emacsstuff"]
path = emacsstuff
url = git://g0dil.de/emacsstuff.git
[submodule "git-wip"]
	path = git-wip
	url = https://github.com/bartman/git-wip.git
[submodule "emacs-window-toggle"]
	path = emacs-window-toggle
	url = https://gist.github.com/3383607.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "groovy-emacs-modes"]
	path = groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "with-editor"]
	path = with-editor
	url = https://github.com/magit/with-editor
[submodule "dtrt-indent"]
	path = dtrt-indent
	url = https://github.com/jscheid/dtrt-indent.git
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "company-mode"]
	path = company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "system-cores.el"]
	path = system-cores.el
	url = https://github.com/aaron-em/system-cores.el.git
