[submodule "emacs-egrep"]
path = emacs-egrep
url = git://g0dil.de/emacs-egrep.git

[submodule "magit"]
path = magit
url = git://github.com/magit/magit.git

[submodule "emacsstuff"]
path = emacsstuff
url = git://g0dil.de/emacsstuff.git
